@model List<SignLanguage.EF.GoodMeaningWords>
@using SignLanguage.Website.HtmlHelpers

@{
    ViewData["Title"] = "DeleteGoodMeaningWord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="headertekst">Usuwanie słówek z zakładki nauka (usuwa też wszystkie przypisane złe znaczenia używane w quiz)</h2>
<hr />
<br />

<div class="container">
    <div class="row">
        <div class="col-lg-12">

            @using (Html.BeginForm("Administration", "DeleteGoodMeaningWord", FormMethod.Post))
            {
                @*@Html.AntiForgeryToken() *@

                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Wybierz słowo do usunięcia")
                        @Html.DropDownList(
                        "SelectedGoodMeaningWord",
                        new SelectList(
                            Model.Select(x => new { Value = x.IdGoodMeaningWord, Text = x.Meaning }),
                            "Value",
                            "Text"
                        )
                    )

                        @Html.InputDelete()

                    </div>

                </div>
            }
        </div>
    </div>
</div>

