<h5>Wystąpił problem</h5>
<hr />

<h3>Szczegóły błędu:</h3>
<div class="alert alert-danger">
    <h5>Sciężka błędu</h5>
    <hr/>
    <p>@ViewBag.ExceptionPath</p>
</div>

<div class="alert alert-danger">
    <h5>Treść błędu</h5>
    <hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>


<div class="alert alert-danger">
    <h5>stack trace</h5>
    <hr />
    <p>@ViewBag.StackTrace</p>
</div>